@import '../../../styles/_utils';
@import '../../../styles/_vars';

.splash {
  @include evenChildren;
  height: 80vh;

  & .image {
    @include center;

    & .phone {
      object-fit: contain;
    }
  }

  & .copy {
    margin-top: 10%;
    padding: 0 40px;


    & > * {
      width: 100%;
      margin: 0;
      padding: 0;
    }


    & > p {
      font-size: 1.5rem;
    }

    & > h1 {
      font-size: 3.5rem;
      color: $primary-color;
      font-weight: bold;
    }
  }
}
